* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    background-image : url('../img/loginBackground1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    transition: background-image 1s ease-in-out; /* 배경 이미지 전환 시 애니메이션 추가 */
}


.bg-image-1 {
    background-image: url('../img/loginBackground1.jpg');
    background-size: cover;
    background-position: center;
}

.bg-image-2 {
    background-image: url('../img/loginBackground2.jpg');
    background-size: cover;
    background-position: center;
}

.bg-image-3 {
    background-image: url('../img/loginBackground3.jpg');
    background-size: cover;
    background-position: center;
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    color: #4A90E2;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #4A90E2;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4A90E2;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #357ABD;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    color: #4A90E2;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .login-box {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 16px;
    }

    .links a {
        font-size: 12px;
    }
}